@font-face {
  font-family: Balsamiq Sans;
  src: url("Balsamiq_Sans/BalsamiqSans-Regular.ttf");
}
@font-face {
  font-family: Balsamiq Sans;
  font-weight: bold;
  src: url("Balsamiq_Sans/BalsamiqSans-Bold.ttf");
}

p {
  font-family: "Balsamiq Sans", cursive;
}

h2,
h1,
label {
  font-family: "Balsamiq Sans", cursive;
  font-weight: bold;
}

body {
  background: #f0eff5;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

.container {
  max-width: 600px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.btn {
  background-color: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}
.time {
  font-size: 0.7em;
  color: #999;
}

.update-message {
  text-align: center;
  margin: 20px auto;
}
/* .icon {
  position: relative;
  top: -50px;
  border-radius: 50px;
  width: 100px;
  margin-bottom: -50px;
} */
